<div class='list-controls'>
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>

{{#each tag in model.cloud}}
  <a href="/tag/{{unbound tag.title}}" class="tagger-tag btn cloud-{{unbound tag.count}}">{{tag.title}}</a>
{{/each}}
