/* topic view */
.tagger-tags .tagger-tag,
h3 .tagger-tag,
.tagger-admin .tagger-tag,
.tagger-tags-view a,
.tagger-tags-view span {
    display: inline-block;
    padding: 1px 7px;
    margin-top: 5px;
    // font-size: 0.8em; // SP customization (remove style to prevent hint 'popup' having too small font size)
}

.tagger-tags {
  max-height: 200px;
  overflow: scroll;
  position: absolute;
}

.tagger-tag {
  margin-bottom: 5px;
}

.tagger-admin .tagger-tag,
h3 .tagger-tag {
// .tagger-tags-view a.tagger-tag, // SP customization (now that we added .btn class to tags, we also use the default .btn :hover styles)
// .tagger-tags-view span.tagger-tag { // SP customization (topic page tag edit mode - now that we added .btn class to tags, we also use the default .btn :hover styles)
    background-color: #EDEDED;
    color: #333;
}

.tagger-admin .tagger-tag {
    font-size: 1.2em;
    line-height: 2.8em;
    cursor: pointer;
}

.tagger-tags-view .fa,
.tagger-tags .tagger-tag .fa {
    cursor: pointer
}

.tagger-tags-view label,
.tagger-tags label {
    display: inline;
}

/* Drop down menu with suggestions */
.tt-dropdown-menu {
    background-color: white;
    padding: 3px 10px;
}

.discourse-no-touch #reply-control.edit-title .contents .wmd-controls {
  top: 314px;
}

#reply-control.edit-title.open {
  height: 520px;
}



// This affects both in-topic tagging, as well as the tag field in the "Create Topic" pullup panel e.g on the /latest page

// SP custom rule (topic page)
#topic-title .tagger-tags-view {
  margin-bottom: -10px;
  margin-top: 10px;

  span {
    color: #999;
    font-size: 12px;

    &.tagger-tag--added-SP {
      border: 1px solid;
      border-radius: 3px;

      i {
        &:hover {
          color: #000;
        }
      }
    }
  }
}

// SP custom rule (/tag/XXX page)
#topic-list .main-link .tagger-tags-view {
  span {
    font-size: 12px;
    padding-left: 0;
  }
}

// SP custom rule
h3 .tagger-tag {
  margin-bottom: 20px; // SP customization (/tag/XXX page - ensure vertical separation between list header and list)
}

// SP custom rule
.tagger-tags-view span.twitter-typeahead {
  padding-left: 0;
  padding-right: 0;
}

// SP custom rule
.twitter-typeahead .tt-hint {
  color: red;
}

// SP custom rule
.twitter-typeahead .tt-dropdown-menu {
  background-color: lightblue;
  padding: 0;
  top: 30px !important;

  .tt-suggestions {
    margin: 0;
    padding: 0; // ugly, but ensures that there's no click-killing area around the text

    .tt-suggestion p {
      margin: 0; // ugly, but ensures that there's no click-killing area around the text
    }
  }
}

// SP custom rule
.available-tags-SP, .tagger-tags-view {
  .tagger-tag {
    margin-top: 10px; // ensure separation from "Tags:" when no typeahead container above in the future + separation if available tags are span multiple lines
  }
}

// SP custom rule (for /tag/XXX page)
.list-controls {
  h3 {
    .tagger-tag {
      &.btn {
        float: none;
      }
    }
  }
}
